body, html { /*about me description text*/
	font-family: 'Nanum Pen Script', cursive;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777; /*777*/
	width: 100% !important;
	height: 100% !important;
}
h2 { /*text titles for each section*/
	margin: 0 0 20px 0;
	color: #555; /*555*/
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 60px; /*about me*/
	text-transform: lowercase;
}
h3, h4 { /*title overlay*/
	color: #222; /*222*/
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 1px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a { /*unknown*/
	color: #555; /*555*/
}
a:hover, a:focus {
	text-decoration: none;
	color: #000; /*000*/
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr { /*lines under titles*/
	height: 1px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #666; /*666*/
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-custom { 
	margin-bottom: 0;
	background-color: #40432e; /*f6f6f6 nav bar color*/
	border-radius: 0px;
	padding: 10px 0;
	border-bottom: 2px solid #40432e; /*fff there's a little line under the nav bar thats colored*/
}
.navbar-custom a { /*nav bar text*/
	color: #f4e6c5; /*555*/
}
.navbar-custom .nav li a {
	margin: 0 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	text-transform: lowercase;
}
.navbar-custom .nav li a:hover { /*hovering over the nav buttons*/
	outline: 0;
	color: #fff; /*000*/
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active { /*when you click on nav bar buttons*/
	outline: 0;
	background-color: transparent;
	color: #fff; /*000*/
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a { /*unknown*/
	background-color: rgba(255,255,255,.3); /*rgba(255,255,255,.3)*/
}
.navbar-custom .nav li.active a:hover {
	color: #fff; /*fff*/
}
.btn-default {
	text-transform: uppercase;
	color: #40432e; /*555 button text*/
	background-color: #f4e6c5; /*white button background color*/
	border-color: #40432e; /*777 button border color*/
	padding: 14px 20px;
	margin: 0;
	font-size: 24px; /*learn more*/
	text-transform: lowercase;
	border-radius: 0;
	margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff; /*fff button text when hovering*/
	background-color: #40432e; /*121d1f button background when hovering*/
	border-color: #40432e; /*121d1f button border when hovering*/
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	text-align: center;
	color: #40432e; /*333 description text under name*/
	background: url(../img/intro-bg2.jpg) no-repeat center top;
	background-color: #e5e5e5; /*e5e5e5 background color under intro image*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 10px 0 40px 0;
}
.intro h1 {
	font-size: 80px; /*leah joseph*/
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #40432e; /*333 name text color*/
}
.intro p {
	font-size: 45px; /*sketching/figure studies*/
	margin-bottom: 40px;
	margin-top: 20px;
	text-transform: lowercase;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 200px;
}
/* About Section */
#about {
	padding: 120px 0;

}
#about .about-text {
	margin-left: 10px;
	text-align: center;
	text-transform: lowercase;
}
#about img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	display: inline-block;
}
#about p {
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 22px;
	text-transform: lowercase;
}
/* Portfolio Section */
#portfolio {
	padding: 120px 0;
	background: #f4E6c5; /*f6f6f6 portfolio section background color*/
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a { /*filter boxes*/
	border: 1px solid #40432e; /*777 border*/
	color: #40432e; /*555 text*/
	padding: 8px 20px;
	text-transform: lowercase;
}
ol.type li a.active { /*clicked filter box*/
	background: #40432e; /*222 box color*/
	border: 1px solid #40432e; /*222 border color*/
	color: #fff; /*fff text*/
	text-transform: lowercase;
}
ol.type li a:hover { /*hovered filter box*/
	background: #40432e; /*222 box color*/
	border: 1px solid #40432e; /*222 border color*/
	color: #fff; /*fff text*/
	text-transform: lowercase;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 295px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text { /*dont mess with*/
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff; /*ffffff*/
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04; /*E87E04*/
}
/* Contact Section */
#contact {
	padding: 120px 0 60px 0;
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff; /*fff*/
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger { /*error msgs*/
	color: #E87E04; /*E87E04*/
	text-align: left;
}
label {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Nanum Pen Script', cursive;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 24px;
	line-height: 1.42857143;
	color: #fff; /*2c3e50 box text color*/
	background-color: #9f886F; /*rgba(255,255,255,0.8) background box color*/
	background-image: none;
	border: 1px solid #40432e; /*999 box border color*/
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #fff; /*2c3e50 form text box color*/
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding: 4px;
	color: #444; /*444 icon colors*/
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #000; /*000 icon hover color*/
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #9f886f; /*footer color backgrou*/
	color: #f4e6c5; /*777 text */
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 18px;
}
#footer a {
	color: #f6f6f6;
}
#footer a:hover {
	color: #000;
}
